

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .newJoke {
    margin-bottom: 20px;
  }
  button
    {
        background-color: #024569;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: 2px;
        border-radius: 10px;
        cursor: pointer;

        width: 50%;
    }
  